<html ng-app="warren">
<head>
    <meta charset="UTF-8">
    <title>Warren</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script src="../node_modules/angular/angular.min.js"></script>-->
    <!--<script src="../node_modules/zingchart/client/zingchart.min.js"></script>-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <!--<script type=text/javascript" src="../node_modules/zingchart-angularjs/src/zingchart-angularjs.js"></script>-->
    <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>

    <!--<script src="../statics/js/app.js"></script>-->
    <script >
        angular.module("warren", ["zingchart-angularjs"]).controller("mainController", ["$http","$scope",function ($http,$scope) {
            self=this;

            console.log("start");
            $scope.myData = [1,2,28,4,5];
            $scope.money=10000;
            $scope.test="hello";
            $http({
                url: "http://localhost:5000/stocks/all",
                method: "GET"
            }).then(function successCallback(response) {
            console.log(response.data);
            $scope.stocks=response.data;
            // this callbalsck will be called asynchronously
            // when the response is available
            }, function errorCallback(response) {
                    console.log(response);
            // called asynchronously if an error occurs
            // or server returns response with an error status.
            });
            self.home=function(){
                
                console.log("in home");
                 $http.get(
                     "http://localhost:5000/stocks/all"                    
                    ).then(function successCallback(response) {
                    console.log(response.data);
                    $scope.stocks=response.data;
            // this callbalsck will be called asynchronously
            // when the response is available
                    }, function errorCallback(response) {
                    console.log(response);
            // called asynchronously if an error occurs
            // or server returns response with an error status.
                });
            };

            self.buy = function (symbol) {
                    //debugger;

                    console.log("in buy");
                    data="{'symbol':"+symbol+"}";
                    console.log(data);
                    $http({
                        url: "http://localhost:5000/stocks/buy",
                        method:"POST",
                        data:JSON.stringify(data),
                        headers: {'Content-Type': 'application/json' }
                    
                    }).then(function successCallback(response) {
                        console.log(response.data);
                        //debugger;
                        $scope.money=response.data;

                    // this callbalsck will be called asynchronously
                    // when the response is available
                    }, function errorCallback(response) {
                    console.log(response);
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                });
            };

            self.sell = function(symbol){
                    console.log("in sell");
                    data="{'symbol':"+symbol+"}";
                    console.log(data);
                    $http({
                        url: "http://localhost:5000/stocks/sell",
                        method:"POST",
                        data:JSON.stringify(data),
                        headers: {'Content-Type': 'application/json' }
                    
                    }).then(function successCallback(response) {
                        console.log(response.data);
                        //debugger;
                        $scope.money=response.data;

                    // this callbalsck will be called asynchronously
                    // when the response is available
                    }, function errorCallback(response) {
                    console.log(response);
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                });
            };

            self.proforio=function () {
                console.log("in proforio");
                $http({
                    url: "http://localhost:5000/user/portfolio",
                    method: "GET"
                }).then(function successCallback(response) {
                    console.log(response.data);
                    $scope.stocks=response.data;
                    // this callbalsck will be called asynchronously
                    // when the response is available
                }, function errorCallback(response) {
                    console.log(response);
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                });
            };            


        }])
    </script>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
<!--<div class="navbar navbar-default navbar-fixed-top">-->
    <!--<ul class="nav navbar-nav"> <li class="active"><a href="#">Home</a></li> <li><a href="#">Link</a></li> <li><a href="#">Link</a></li> </ul>-->
<!--</div>-->
<!--<div ng-controller="mainController as ctrl">
    <button ng-click="ctrl.home()">Change</button>
</div>-->

<div ng-controller="mainController as ctrl" class="container-fluid">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Warren</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a ng-click="ctrl.home()">Home <span class="sr-only">(current)</span></a></li>
                    <li><a ng-click="ctrl.proforio()">Proforio</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">Michael</p></li>
                    <li><p class="navbar-text">Money: {{money}}</p></li>
                </ul>
            </div><!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
    </nav>

    <div ng-repeat="(symbol, object) in stocks">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-asterisk"></span>
                <span class="name">{{object.name}}</span>
                <span>{{object.price}}</span>
                <span class="change">{{object.change}}</span>

                <div class="pull-right btn-group">
                <button class="btn btn-primary" ng-click="ctrl.buy(symbol)">Buy</button>
                <button class="btn btn-danger" ng-click="ctrl.sell(symbol)">Sell</button>
                <button class="btn btn-default" data-toggle="collapse" href="#{{symbol}}">Detail</button>

                </div>
                <div class="clearfix"></div>
            </div>
            <div id="{{symbol}}" class="panel-collapse collapse ">
                <div id="new-tasks-list" class="panel-body task-list">
                    <zingchart id="{{object.symbol}}" zc-values="myData" zc-height=500 zc-width=600 zc-type="line"></zingchart>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>